<div class="container">
    <app-loader [isLoading]="this.isLoading"></app-loader>
    <div class="content">
        <div class="logo-container">
             <img src="../../../assets/logo_turtle.png" />
             <span>Turtle</span>
        </div>
     <p>Slow and steady wins the race!<br>
        Turtle is your trusty companion to organize your life <br>and boost productivity, helping you achieve your <br>goals—one small step at a time.</p>
        <button>Ready? &rarr;</button>
    </div>
</div>