@font-face {
    font-family: 'Jost';
    src: url('/assets/fonts/Jost-VariableFont_wght.woff2') format('woff2'),
    url('/assets/fonts/Jost-VariableFont_wght.woff') format('woff'),
    url('/assets/fonts/Jost-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}
  
:host {
    display: block;
/* Full viewport */ 
    height: 100vh; 
    width: 100vw; 
    background-color: #1E1E1E; 
    position: absolute;
    top: 0; 
    left: 0; 
    z-index: -1; 
}

.container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: 100%; 
}

img{
    max-width: 80px;
    height: auto;
    transform: rotate(345deg)
}

p{
    color: #EAEAEA;
    text-align: end;
    font-size: 11px;
}

button{
    text-align: end;
    float: right;
    background-color: #C4DBA9;
    color: #3B1B1B;
    padding: 4px 10px 4px 10px;
    border-radius: 16px;
    border: none;
    font-size: 11px;
    cursor: pointer;
    position: relative;
}
.redirect:hover{
    background-color: #1E1E1E;
    color: #EAEAEA;
    font-weight: 600;
    border: 3px solid #8AB753;
    transition: all .3s;
    content:attr(data-content)
    /* content: attr(data-hover); */
}
.redirect::before {
    content: attr(data-content); 
    transition: opacity 0.3s; /* Fade effect */
}

.redirect:hover::before {
    content: attr(data-hover); /* Change content on hover */
    opacity: 1; /* Show the text on hover */
}

.container{
    display: grid;
    place-items: center; 
    height: 100vh;
    animation: zoomIn 1s ease forwards;  
}

.logo-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;  
}

span{
    color: #8AB753;
    font-size: 68px;
    letter-spacing: 4px;
}
