:host {
  display: block;
/* Full viewport */ 
  height: 100vh; 
  width: 100vw; 
  background-color: #1E1E1E; 
  position: absolute;
  top: 0; 
  left: 0; 
  z-index: -1; 
}

.logo {
  align-content: center;
  padding-left: 18px;
}
img {
  width: 35px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fcfcfc6b;
  height: 80px;
  width: 100%;
  margin: 0;
}
.theme-ex {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  padding: 0 200px;
  transform: translate3d(-50%, -50%, 0);

  input {
    position: absolute;
    left: -99em;
  }
}

ul{
  display: flex;
  flex-direction: row;
  padding: 15px;
}

ul li{
  margin: 10px;
  list-style: none;
}