#range_input {
  border-radius: 8px;
  height: 11px;
  width: 356px;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  cursor: pointer;
  animate: 0.2s;
  border: 0px solid #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0.75px 0.75px 0.75px #000000;
    border: 0.5px solid #000000;
    height: 15px;
    width: 12px;
    border-radius: 3px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0.75px 0.75px 0.75px #000000;
    border: 0.5px solid #07010100;
    height: 15px;
    width: 12px;
    border-radius: 10px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0.75px 0.75px 0.75px #000000;
  border: 0.5px solid #000000;
  height: 15px;
  width: 12px;
  border-radius: 3px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2px;
}