* {
    outline:none;
      border:none;
      margin:0px;
      padding:0px;
      font-family:Courier, monospace;
  }
  body {
      background:#333 url(https://static.tumblr.com/maopbtg/a5emgtoju/inflicted.png) repeat;        
  }

  #margin {
      margin-left:12px;
      margin-bottom:20px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none; 
  }
  #text {
      width:250px;
      height: 50px;
      overflow:auto;
      color:#FFF;
      font-family:Courier, monospace;
      font-weight:normal;
      font-size:14px;
      resize:none;
      line-height:3rem;
      padding:  24 18px;
      background-color: #333;
      background-repeat:repeat-y, repeat;
      -webkit-border-radius:12px;
      border-radius:8px;
      border-top:1px solid #FFF;
      border-bottom:1px solid #FFF;
  }
  #title {
      background-color:transparent;
      border-bottom:3px solid #FFF;
      color:#FFF;
      font-size:20px;
      font-family:Courier, monospace;
      height:28px;
      font-weight:bold;
      width:220px;
  }
  #button {
      cursor:pointer;
      padding: 4px 8px;
     
  }
 
  #wrapper {
      width:400px;
      height:auto;
  }