<div class="gridcontainer">
  <div class="placeholder_for_habit">
    <div class="container" id="container">
      <div class="days" id="days">
        <span>{{ habit_name }}</span>
      </div>
      <div class="days-grid">
        @for (row of matrix.matrix; track row) {
          <div class="row">
            @for (cell of row; track cell) {
              <button
                class="square"
                [ngClass]="{
                  'checked-true': cell.checked === true,
                  'checked-disabled': cell.checked === 'disabled',
                  'checked-false': cell.checked === false,
                  'checked-none': cell.day === -1,
                }"
                (click)="setChecked($event,{habit_id, matrix})"
              >
                {{ cell.day !== -1 ? cell.day : "" }}
              </button>
            }
          </div>
        }
      </div>
    </div>
  </div>
</div>
