@font-face {
  font-family: "Jost-regular";
  src: url(../../../assets/Jost-VariableFont_wght.ttf);
}
* {
  margin: 0;
  overflow: hidden;
}
.grid-container {
  display: grid;
  grid-template-columns: 280px auto 180px; 
  gap: 0px; 
  height: 100vh;
}

.column {
  background-color: #f0f0f0; 
  padding: 10px; 
}

.first {
  background-color: #00000068; 
}

.middle {
  background-color: #FFFFFF;
}

.last {
  background-color: #e1e2e2
  
}
img{
  width: 60px;
  margin-left: 90px;
  margin-top:50px;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .grid-container {
      grid-template-columns: 1fr; 
  }
}
