/* Globas CSS style */
/*
    styles.css file at the root
    of the `src` directory witch is part
    of the global style configuration.
    Any CSS rule you place here is globally available to all
    components in your application,
    without the need for any additional import or 
    reference within the component.
*/
.progress-bar-basic{
    height: 20px;
    background-color: #eee;
    border-radius: 8px;
    transition: width 0.3s ease;
}

/* liner-style-blue */
.progress-blue{
    background: linear-gradient(180deg, #5EE6FA 36%, #388894 100%);
    border: 1px solid #000000;
    backdrop-filter: blur(2px);
}
.progress-blue-20{
    background: linear-gradient(180deg, #5EE6FA 36%, #388894 100%);
    border: 1px solid #000000;
    backdrop-filter: blur(2px);
}
.progress-blue-40{
    background: linear-gradient(180deg, #66FBDB 36%, #3D9582 100%);
    border: 1px solid #000000;
    backdrop-filter: blur(2px);
}
.progress-blue-50{
    background: linear-gradient(180deg, #FEAE7C 36%, #98684A 100%);
    border: 1px solid #000000;
    backdrop-filter: blur(2px);
}
.progress-blue-60{
    background: linear-gradient(180deg, #FF9886 36%, #995B50 100%);
    border: 1px solid #000000;
    backdrop-filter: blur(2px);
}
.progress-blue-70{
    background: linear-gradient(180deg, #FF7F9C 36%, #994C5E 100%);
    border: 1px solid #000000;
    backdrop-filter: blur(2px);
}
.progress-blue-80{
    background: linear-gradient(180deg, #CB90FC 36%, #795696 100%);
    border: 1px solid #000000;
    backdrop-filter: blur(2px);
}
.progress-blue-100{
    background: linear-gradient(180deg, #9191FF 36%, #575799 100%);
    border: 1px solid #000000;
    backdrop-filter: blur(2px);
} 

/* .progress-green{
    background-color: ;
}
.progress-red{
    background-color: ;
}
.progress-orange{
    background-color: ;
}
.progress-purple{
    background-color: ;
} */