/* Globas CSS style */
/*
    styles.css file at the root
    of the `src` directory witch is part
    of the global style configuration.
    Any CSS rule you place here is globally available to all
    components in your application,
    without the need for any additional import or 
    reference within the component.
*/
@font-face {
    font-family: 'Jost-regular';
    src: url(../../../assets/Jost-VariableFont_wght.ttf);
}
body{
    font-family: 'Jost-regular'
}